html,body,#root{
    height: 100%;
}
.app{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.otp_input{
width: 40px;
height: 40px;
margin: 5px;
text-align: center;
font-size: 1.2em;
}